body {background-color: lightpink;}

h1{
	color: white;
}

h2 {
color: aliceblue;
font-family: 'Lobster', cursive;
font-size: 45px;


padding: {
  border: 2px solid powderblue;
  padding: 30px;
}

body {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid red;
}